#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: linear-gradient(180deg, #00072D 0%, #060F42 100%);
}

.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 65vw;
  /* border: white 3px solid; */
  
}

.app-header{
  display: flex;
  flex-direction: row;
  /* border: white 3px solid; */
  height: 35%;
  /* width: auto; */
  margin: 2%;
}

.app-header .about-me{
  display: flex;
  flex-basis: 55%;
  /* border: white 3px solid; */
  flex-direction: column;
  margin: 1%;
  background-color: rgba(0, 28, 85, 0.5);
  border-radius: 5%;
  border: #001C55 4px solid;
}
.about-me .header{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin: 2%;
}
.about-me .header .profile-picture{
  display: flex;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  margin: 1%;
  background-image: url("assets/1714766698360.jpeg");
  background-position: center;
  background-size: cover;
}
.about-me .header .info{
  display: flex;
  flex-direction: column;
  margin: 3%;
  font-size: 0.5rem;

}

.info h1{
  margin: 0;
  margin-bottom: 3%;
}
.info p{
  margin: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: white 3px solid; */
}

.app-header .skills{
  display: flex;
  flex-basis: 45%;
  margin: 1%;
  background-color: rgba(0, 28, 85, 0.5);
  border-radius: 5%;
  border: #001C55 4px solid;
}
